
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Rounded user avatars
- Buttons
- Brand Styles

*/


/* Rounded avatars
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Disable this if you don't want rounded avatars for users */
.rounded-avatar {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 3px var(--button-background-color); 
  box-shadow: 0px 0px 0px 3px var(--button-background-color);
  background-color: var(--button-background-color) !important;
  width: var(--image-width);
  height: var(--image-height);
}

.social-icon {
  font-size: 32px;
  padding: 10px;
}
.social-icon-div {
  padding-bottom: 30px;
}
.social-icon{color:#fff;}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1em;
  color: var(--button-text-color);
  min-height: 58px;
  line-height: 58px;
  cursor: pointer;

  color: var(--button-text-color);
  background-color: var(--button-background-color);
  width: 100%;
  max-width: 600px;
  border-radius: 14px;
  margin-bottom: 13px;
}


/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  right: 10px;
  bottom: 2px;
  position: relative;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

svg {
  color: white !important;
}


.lbl-prof {
  font-family: var(--font-family) !important;
  color: white;
  font-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  letter-spacing: 0.1rem;
  line-height: 1;
  font-weight: 400;
}

.lbl-subf {
  font-family: var(--font-family) !important;
  color: rgb(196, 196, 196);
  font-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 20px;
}


.accordion {   
}

.lbl-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accordion-component {

    
}

.active, .accordion:hover {
    background-color: var(--button-background-color); /* Changed hover background color for visibility */
}

.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel {
    display: none; /* Initially, panel is hidden */
    background-color: var(--button-background-color) !important;
    overflow: hidden;
    color: white;
    transition: max-height 0.4s ease-in-out;
    align-items: center;
    margin: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    align-items: center;
    justify-content: center;
}

.space-bot {
    padding-bottom: 15px;
}
.panel2 {
    display: none; /* Initially, panel is hidden */
    background-color: white;
    overflow: hidden;
    color: black;
    width: 326px;
    transition: max-height 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.btn-details{
  background: var(--button-background-color); 
  margin-top: 16px; 
  margin-bottom: 16px !important;
}

.btns-details{
  background: var(--button-background-color); 
  margin-top: 0px; 
  margin-bottom: 0px !important;
}